/* .advanced-pie-legend-wrapper {
  display: inline-block !important;
  margin-top: 75px !important;
  margin-left: -18px !important;
}

.advanced-pie.chart {
  transform: rotate(90deg) !important;
} */
